<div class="container">
    <div class="row" ng-controller="ListaController as listaController">
        <div class="col s12">
            <table class="bordered highlight">
                <thead>
                    <tr>
                        <th data-field="nome">Lista</th>
                        <th data-field="data" class="center">Data</th>
                        <th data-field="valor" class="right-align">Valor Total (R$)</th>
                        <th data-field="actions" class="right"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in listaController.lista">
                        <td>{{item.nome}}</td>
                        <td class="center">{{item.dataCadastro | date:'medium'}}</td>
                        <td class="right-align">{{currencyFormat(item.valor)}}</td>
                        <td class="right">                        	
                            <a ui-sref="edit({id: item.id})" class="btn-floating"><i class="material-icons">edit</i></a>
                            <a ng-click="listaController.remove(item)" class="btn-floating red"><i class="material-icons">delete</i></a>
                        </td>                		
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a ui-sref="cadastro" class="btn-floating btn-large pink">
        <i class="large material-icons">add</i>
    </a>
</div>